<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Home page</h1>
    <script>
      // using . before the {domain} we will apply cookies for all sub-domains
      // document.cookie = "username=nguyenvana, domain=.{domain}.com";

      // using path prop to specify the pathname apply cookies for ex: "/bai-viet"
      document.cookie = "username=nguyenvana, path=/bai-viet";
    </script>
  </body>
</html>
